.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.google-sans-regular {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

* {
    margin: 0 auto;
    font-family: "Ubuntu", 'Arial', sans-serif, 'Times New Roman', Times, serif;
}
.game-Title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px;
}
.game-Info {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 20px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 15px;
    justify-content: center;
    margin: 10px auto;
    border-color: black;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.cell:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
    z-index: 1;
}
.cell.inner-text {
    font-size: 56px;
    font-weight: bold;
    font-family: "Google Sans", sans-serif;
}
.cell.inner-text:hover {
    transform: none; /* Disable hover effect when cell is filled */
    cursor: default;
    background-color: whitesmoke;
}
.cell.x {
    color: red; /* Color for X */
}
.cell.o {
    color: blue; /* Color for O */
}
.game-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
